{% extends 'cms/base.html' %}   {# 继承父级#}

{% block title %}
    板块管理
{% endblock %}
{% block page_title %}
    欢迎来到{{ self.title() }}
{% endblock %}
{% block head %}
    <script src="{{ url_for('static',filename='cms/js/boarder.js') }}"></script>
{% endblock %}
{% block  content %}
    <div style="overflow: hidden">
        <button class="btn btn-success btn-lg" id="addboarder" data-toggle="modal" data-target="#myModal" style="float: right">添加板块
        </button>
    </div>
    <table class="table table-hover" style="table-layout: fixed">
        <thead>
        <tr>
            <td>板块名称</td>
            <td>帖子数量</td>
            <td>创建时间</td>
            <td>操作</td>
        </tr>
        </thead>
        <tbody>
        {%for boarder in boarders %}
            <tr>
            <td style="word-wrap: break-word">{{ boarder.boardername }}</td>
            <td style="word-wrap: break-word">{{ boarder.postnum }}</td>
            <td style="word-wrap: break-word">{{ boarder.create_time }}</td>
            <td style="word-wrap: break-word">
                <button class="btn btn-danger delete-btn" data-id="{{ boarder.id }}">删除</button>
                <button class="btn btn-warning update-btn"
                        data-id="{{ boarder.id }}"
                        data-boardername="{{boarder.boardername }}"
                        data-postnum="{{ boarder.postnum }}"
                >更新</button>
            </td>
        </tr>
            {% else %}
            暂无数据
        {% endfor %}
        </tbody>
    </table>
<br>
    <!-- Modal   模态视图-->
    <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <input type="hidden" value="" name="id" id="id">
            <div class="modal-content">
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="boardername" class="col-sm-2 control-label">更新板块</label>
                            <div lass="col-sm-10">
                                <input type="text" class="form-control" id="boardername" placeholder="">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button"  id="saveBanner" class="btn btn-primary"  from="0">保存</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}